@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');



:root {
    --cor0: #032BF4; 
    --cor1: #3BF1F5;
    --cor2: #032bf48f;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: 'Roboto', sans-serif;
    --fonte-destaque: 'Sigmar One', cursive;
    --fonte-destaque2: 'Jersey 10', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(3, 3, 3, 0.774);
    font-family: var(--fonte-padrao);
}

header {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px; /* preenchimento */
    background-color: rgba(0, 0, 0, 0.87);
    font-family: var(--fonte-destaque);
    font-size: 2em;
    margin: 0px;
}

header > h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px; /* preenchimento */
    background-color: rgba(0, 0, 0, 0.87);
    font-family: var(--fonte-destaque);
    font-size: 2em;
    margin: 0px;
}

header p {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px; /* preenchimento */
    background-color: rgba(0, 0, 0, 0.87);
    font-family: var(--fonte-padrao);
    text-align: justify;
    text-indent: 50px;  
}

nav {
    padding: 10px; /* preenchimento */
    background-color: rgba(255, 254, 254, 0.87);
    text-align: left; /* alinhar o texto a direita */
}

nav > a {
    color: rgb(0, 0, 0); /* cor do texto */
    padding: 10px; /* preenchimento */
    text-decoration: none; /* tirar o sublinhado */
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-image: linear-gradient(to right, #00E741, transparent);
    text-decoration: underline;
    padding-bottom: 6px;
}


main {
    margin: auto; /* centralizar o site */
    background-color: #3C3C3C;
    min-width: 50px; /* tamanho minimo da pagina */
    max-width: 1000px; /* tamanho maximo da pagina */
    margin-bottom: 30px;
    padding: 20px; /* preenchimento */
    box-shadow: 0px 10px rgba(0, 0, 0, 0.74); /* sombra */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main p {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px; /* preenchimento */
    background-color: rgba(0, 0, 0, 0.87);
    margin-top: auto;
    font-family: var(--fonte-padrao);
    text-align: justify;
    font-size: 1.2em;
    font-weight: normal;
    
    line-height: 2em; /* espacamento entre linhas */
}

.android {
    font-family: var(--fonte-destaque2);
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 13px; /* preenchimento */
    font-size: 2em;
    text-decoration: none;
    transition-duration: 1s;
}


.android:hover {
    background-image: linear-gradient(to right, #A4C639, transparent);
    text-decoration: underline;
    padding-bottom: 1px;
}

strong {
    background-image: linear-gradient(to right, #186B3D, transparent);
    color: #A4C639
}

article {
    padding-bottom: 30px;
}